<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="basket.js"></script>
    <title>Корзина</title>
</head>
<body>
<div class="container" ng-controller="basketController">
    <h3>Ваши товары</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <td>Лот</td>
            <td>Наименование товара</td>
            <td>Цена</td>
            <td>Категория</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pro in Product">
            <td>{{pro.id}}}</td>
            <td>{{pro.title}}</td>
            <td>{{pro.price}}</td>
            <td>{{pro.category}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProductById(p.id)">Удалить товар</button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

</body>
</html>