<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
    <title>Market</title>
</head>
<body>
<div class="container" ng-controller="indexController">
<h3>Наши товары</h3>
<table class="table table-hover" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <td>id</td>
        <td>Наименование товара</td>
        <td>Цена</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="p in Products">
        <td>{{p.id}}</td>
        <td>{{p.title}}</td>
        <td>{{p.price}}</td>
        <td>
            <button class="btn btn-danger" ng-click="deleteProductById(p.id)">Удалить товар</button>
        </td>
    </tr>
    </tbody>
</table>
    <button class="ui-icon-link" ng-click="getPage(0)">1</button>
    <button class="ui-icon-link" ng-click="getPage(1)">2</button>
    <button class="ui-icon-link" ng-click="getPage(2)">3</button>
    <button class="ui-icon-link" ng-click="getPage(3)">4</button>

    <h3>Добавить новый продукт</h3>
    <form novalidate ng-submit="saveProduct()">
        <div class="form-group col-md-6">
            <label >Название</label>
            <input class="form-control" type="text" ng-model="Product.title">
        </div>
        <div class="form-group col-md-6">
            <label >Цена</label>
            <input class="form-control" type="number" ng-model="Product.price">
        </div>
        <div class="form-group col-md-6">
            <label >Категория</label>
            <input class="form-control" type="text" ng-model="Product.category">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </div>
    </form>
</div>
</body>
</html>